<div *ngIf="!app">

  <h2>Esegui l'accesso o registrati presso il nostro servizio!</h2><br>
  <button (click)="SignupVisibility()">REGISTRATI</button>
  <button (click)="SigninVisibility()">SIGNIN</button>

  <div *ngIf="signup">
    nome: <input #name> <br>
    congome: <input #surname> <br>
    username: <input #username> <br>
    password: <input #password> <br>
    card: <input #card> <br>
    <button (click)= "Signup(name, surname, username, password, card)"> REGISTRATI </button>
  </div>

  <div *ngIf="signin">
    nome: <input #name> <br>
    congome: <input #surname> <br>
    <button (click)= "Signin(name, surname)"> ACCEDI </button>
  </div>

</div>

<div *ngIf="app">
    <h2>Ciao {{user.nome}} {{user.cognome}}.</h2>
    <!--app-scooter-list [scooters]="scooterList"></app-scooter-list-->
    <app-rental-manager [serverMonoRent]="serverMonoRent"></app-rental-manager>
    <app-breakdown [serverMonoOfficine]="serverMonoOfficine"></app-breakdown>
</div>
